/* //this focuses on the forecast 5 day weather */
.card {
    box-sizing: content-box;
    box-sizing: border-box;
    background-color:lightskyblue;
}
/* //focuses on the images */
.cardImages1 {
    background-color: rgb(120, 119, 119);
    align-items: center;
    margin: 5px;
}

.p{
    align-items: center;
}
/* //focuses on the images */
.cardImages2 {
    background-color: whitesmoke;
    margin: 15px;
}

/* //focus on forecast weather background */
.forecast {
    margin: 2px;
    box-shadow: black;
    font-style: normal;
    box-sizing: content-box;
}

.cityName {
    padding: .25rem;
    color: black;
    font-style: normal;
    box-sizing: border-box;
}

.linkedImg {
    grid-row: 2px;
    box-sizing: border-box;
    box-sizing: content-box;
    margin-left: auto;
}

.card-colums {
    box-sizing: border-box;
    box-sizing: content-box;
}

@media screen and (max-width:800px) {
    #left, #middle, #right {
      width:100%; 
    }
  }